{% extends "layout.html" %}

{% block body %}
<div class="container text-center">
  <h3>Manufacturers</h3>
  {% if current_user.is_authenticated %}
  <p><span data-feather="plus"></span><a data-toggle="collapse" href="#addForm">Add a manufacturer</a></p>
  {% else %}
  <p class="btn disabled">
    <span data-feather="plus"></span><span class="btn disabled"> Login to add manufacturer </span>
  </p>
  {% endif %}
  <div class="row justify-content-center">
    <ul>
      {% for error in form.name.errors %}
      <li style="color: red;">{{ error }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="collapse" id="addForm">
    <form method="POST" action="{{ url_for('manufacturers_index') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <table style="margin: auto; width: 50% !important;" class="table text-center">
        <tr>
          <td>
            {{ form.name.label }}
          </td>
          <td>
            {{ form.name }}
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" value="Add a new manufacturer" />
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>

<hr />

<div class="container-fluid" style="width: 75%">

  <div class="row">
    <div class="col">
      {% if listeroo is defined %}
      <p>
        Top Manufacturers ordered by amount of models:
      </p>

      <ul>
        {% for manu in listeroo %}
        <li>
          {{manu.name}} - {{manu.count}} products
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h3 style="visibility: hidden">...</h3>
      <table class="table dtable table-striped table-dark ">
        <thead>
          <tr>
            <th>Manufacturer name</th>
            <th>Products</th>
          </tr>
        </thead>
        <tbody>
          {% for manufacturer in manufacturers %}
          <tr>
            <td>
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{ manufacturer. id }}">
                <span class="text-light">
                  {{ manufacturer.name }}
                </span>
                <span class="text-light" data-feather="chevron-right"></span>
              </button>
            </td>
            <td>
              {{ manufacturer.models|length }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-8">
      <div class="accordion sticky-top" id="manufAccordion">
        {% for manufacturer in manufacturers %}
        <div class="collapse" data-parent="#manufAccordion" id="collapse-{{ manufacturer.id }}">
          <h3>{{ manufacturer.name }}</h3>
          <table class="table dtable table-striped table-dark ">
            <thead>
              <tr>
                <th>Product name</th>
                <th>Status</th>
                <th>Classifications</th>
              </tr>
            </thead>
            <tbody>
              {% for model in manufacturer.models %}
              <tr>
                <td>
                  {{ model.name }}
                </td>
                <td>
                  {% if model.eol %}
                  <span style="color: red; font-weight: bold;">No longer produced</span>
                  {% else %}
                  <span style="color: green; font-weight: bold;">Actively produced</span>
                  {% endif %}
                </td>
                <td>
                  {{ model.classifications.count() }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script async defer type="text/javascript">
  $(document).ready(function () {
    $('.dtable').DataTable({
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      "pageLength": 25,
      "aaSorting": []
    });
  });
</script>
{% endblock %}