{% extends "layout.html" %}

{% block body %}
<div class="container text-center">
  <h3>Manufacturers</h3>
  <p><span data-feather="plus"></span><a data-toggle="collapse" href="#addForm">Add a manufacturer</a></p>
  <div class="collapse" id="addForm">
    <form method="POST" action="{{ url_for('manufacturers_create') }}">
      <table  style="margin: auto; width: 50% !important;" class="table text-center">
        <tr>
          <td>
            {{ form.name.label }}
          </td>
          <td>
            {{ form.name }}
          </td>
          <td>
            <ul>
              {% for error in form.name.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" value="Add a new manufacturer" />
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>

<hr/>

<div class="container">
  <div class="row">
    <div class="col">
      {% for manufacturer in manufacturers %}
      <ul>
        <li>
          {{ manufacturer.name }}
          <ul>
            {% for model in manufacturer.models %}
            <li>{{ model.name }}</li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      {% endfor %}
    </div>
    <div class="col">
      {% if listeroo is defined %}
      <p>
        Top Manufacturers ordered by amount of models:
      </p>

      <ul>
        {% for manu in listeroo %}
        <li>
          {{manu.name}} - {{manu.count}} products
        </li>
        {% endfor %}
      </ul>

      {% endif %}
    </div>
  </div>
</div>


{% endblock %}