{% extends "layout.html" %}

{% block body %}
<p>
  Welcome to the equipment management network.
</p>
<p>
  Feel free to explore the navigation buttons you find above!
</p>

<div class="container text-center">
  {% if current_user.is_authenticated %}
  <h2>
    Hi {{ current_user.name }}!
  </h2>
  <h4>
    Here are your current equipment!
  </h4>
  {% if modelsExist %}
  <p><span data-feather="plus"></span><a data-toggle="collapse" href="#addForm">New equipment</a></p>
  {% endif %}
  <td>
    <ul>
      {% for error in form.serialnumber.errors %}
      <span style="color: red;"><span data-feather="alert-triangle"></span> {{ error }}</span>
      {% endfor %}
    </ul>
  </td>

  <div class="collapse" id="addForm">
    <form method="POST" action="{{ url_for('equipment_add') }}">
      <table class="table text-center" style="margin: auto; width: 35% !important;">
        <tr>
          <td>
            {{ form.model.label}}
          </td>
          <td>
            {{ form.model }}
          </td>
        </tr>
        <tr>
          <td>
            {{ form.serialnumber.label}}
          </td>
          <td>
            {{ form.serialnumber }}
          </td>
        </tr>
      </table>
      <tr>
        <button type="submit" class="btn btn-success"> Add equipment </button>
      </tr>
    </form>
  </div>

  <hr class="colorgraph" />

  <div class="container">
    <table id="table_id" class="table table-hover table-striped table-sm">
      <thead>
        <tr>
          <th>Serial Number</th>
          <th>Model</th>
          <th>Manufacturer</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for eqp in current_user.equipment %}
        <tr>
          <td>{{ eqp.serialnumber }}</td>
          <td>{{ eqp.model.name }}</td>
          <td>{{ eqp.model.manufacturer.name }}</td>
          <td>
            {% if eqp.isbroken %}
            <span style="color: red; font-weight: bold;">(Broken)</span>
            {% else %}
            <span style="color: green; font-weight: bold;">OK</span>
            {% endif %}
          </td>
          <td>
            <form style="display:inline;" method="POST" action="{{ url_for('equipment_delete', id=eqp.id) }}">
              <button class="btn btn-danger" type="submit"> Delete </button>
            </form>
            {% if eqp.isbroken %}
            <form style="display:inline;" method="POST" action="{{ url_for('equipment_break', id=eqp.id) }}">
              <button class="btn btn-primary" type="submit"> Mark as Fixed </button>
            </form>
            {% else %}
            <form style="display:inline;" method="POST" action="{{ url_for('equipment_break', id=eqp.id) }}">
              <button class="btn btn-warning" type="submit"> Mark as Broken </button>
            </form>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script async defer type="text/javascript">
  $(document).ready(function () {
    $('#table_id').DataTable( {
      "lengthMenu": [ 10, 25, 50, "All"  ],
      "pageLength": 25
    });
  });
</script>
{% endblock %}