{% extends "layout.html" %}

{% block body %}
<p>
  Welcome to the equipment management network.
</p>
<p>
  Feel free to explore the navigation buttons you find above!
</p>

<div class="container text-center">
  {% if current_user.is_authenticated %}
  <h2>
    Hi {{ current_user.name }}!
  </h2>
  <h4>
    Here are your current equipment!
  </h4>
  <p><span data-feather="plus"></span><a data-toggle="collapse" href="#addForm">New equipment</a></p>

  <td>
    <ul>
      {% for error in form.serialnumber.errors %}
      <span style="color: red;"><span data-feather="alert-triangle"></span> {{ error }}</span>
      {% endfor %}
    </ul>
  </td>

  <div class="collapse" id="addForm">
    <form method="POST" action="{{ url_for('equipment_add') }}">
      <table class="table text-center" style="margin: auto; width: 35% !important;">
        <tr>
          <td>
            {{ form.model.label}}
          </td>
          <td>
            {{ form.model }}
          </td>
        </tr>
        <tr>
          <td>
            {{ form.serialnumber.label}}
          </td>
          <td>
            {{ form.serialnumber }}
          </td>
        </tr>
      </table>
      <tr>
        <button type="submit" class="btn btn-success"> Add equipment </button>
      </tr>
    </form>
  </div>

  <hr class="colorgraph" />

  <div class="row">
    <ul>
      {% for eqp in current_user.equipment %}
      <li>
        <form method="POST" action="{{ url_for('equipment_delete', id=eqp.id) }}">
          {{ eqp.model.name }} - {{ eqp.model.manufacturer.name }} - {{ eqp.serialnumber }}
          <button class="btn btn-danger" type="submit"> Delete </button>
        </form>

      </li>
      {% endfor %}
    </ul>
  </div>

  {% endif %}
</div>
{% endblock %}